<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/fragments :: head}">
</head>

<body>
	<header th:insert="~{fragments/navbar :: navbar('books/create')}"></header>

	<main class="container">
		<div class="row">
			<div class="col-12">

				<th:block>
					<h1 class="py-4 mb-2 text-center">
						Editing <strong>"[[ ${ book.title } ]]"</strong>
					</h1>

					<div class="row justify-content-center">
						<div class="col-6">
							
							<form 
								id="book-form"
								th:object="${book}"
								th:action="@{/books/edit/{id}(id=${book.id})}" 
								method="POST"
							>				
								
								<!-- <th:block th:if="${#fields.hasErrors()}">
									<div class="ps-3" >
										<ul class="alert alert-danger">
										    <li class="ps-2"
										       th:each="err : ${#fields.allErrors()}" 
										       th:text="${err}"
											  >
										    </li>
										</ul>
									</div>
								</th:block> -->
												
								<div class="mb-3">
									  <label for="title" class="form-label">Title:</label>
									  <input type="text" class="form-control" id="title" placeholder="Moby Dick" th:field="*{title}" th:errorClass="is-invalid">
									  <div th:if="${#fields.hasErrors('title')}" class="invalid-feedback">  	
										  <ul>
										     <li th:each="err : ${#fields.errors('title')}" th:text="${err}"></li>
										  </ul>
									  </div>
								</div>
								<div class="mb-3">
									  <label for="author" class="form-label">Author:</label>
									  <input type="text" class="form-control" id="author" placeholder="Herman Melville" th:field="*{author}" th:errorClass="is-invalid">
									  <div th:if="${#fields.hasErrors('author')}" class="invalid-feedback">  	
										  <ul>
										     <li th:each="err : ${#fields.errors('author')}" th:text="${err}"></li>
										  </ul>
									  </div>
								</div>
								<div class="mb-3">
									  <label for="numberOfCopies" class="form-label">Number of copies:</label>
									  <input type="number" class="form-control" id="numberOfCopies" placeholder="3" th:field="*{numberOfCopies}" th:errorClass="is-invalid">
									  <div th:if="${#fields.hasErrors('numberOfCopies')}" class="invalid-feedback">  	
										  <ul>
										     <li th:each="err : ${#fields.errors('numberOfCopies')}" th:text="${err}"></li>
										  </ul>
									  </div>
								</div>
								<div class="mb-4">
									  <label for="title" class="form-label">ISBN Code:</label>
									  <input type="text" class="form-control" id="isbn" placeholder="9788483087565" th:field="*{isbn}" th:errorClass="is-invalid">
		  								  <div th:if="${#fields.hasErrors('isbn')}" class="invalid-feedback">  	
		  									  <ul>
		  									     <li th:each="err : ${#fields.errors('isbn')}" th:text="${err}"></li>
		  									  </ul>
		  								  </div>
								</div>
								<div class="mb-3 d-flex justify-content-between">
									<input type="submit" class="btn btn-primary btn-lg" value="Update book">
									<input type="reset" class="btn btn-warning btn-lg" value="Reset fields">
								</div>
							</form>
						</div>
					</div>

				</th:block>
			</div>
		</div>
	</main>

	<footer th:replace="~{fragments/fragments :: footer}"></footer>
	<th:block th:replace="~{fragments/fragments :: scripts}"></th:block>
</body>

</html>