<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<header>
			<nav th:fragment="navbar(route)" class="navbar navbar-expand-md bg-body-tertiary">
			  <div class="container">
			    <a class="navbar-brand" href="#"> Best of the year </a>
			    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="collapse navbar-collapse" id="navbarSupportedContent">
			      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
			        <li class="nav-item">
			          <a class="nav-link" aria-current="page" th:href="@{/}" th:classappend="${ route == 'home' ? 'active' : ''}">Home</a>
			        </li>
			        <li class="nav-item">
			          <a class="nav-link" href="#" th:href="@{/books}" th:classappend="${route == 'books' ? 'active' : ''}">Books</a>
			        </li>
					<li class="nav-item">
					  <a class="nav-link" href="#" th:href="@{/rooms}" th:classappend="${route == 'rooms' ? 'active' : ''}">Rooms</a>
					</li>
			    </div>
			  </div>
			</nav>
		</header>
	</body>
</html>